@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --first-bg-clr: #234B55;
  --second-bg-clr: #1B0E36;
  --primary-text-clr: #FAFAFA;
  --primary-clr: #ee4444;
  --secondary-clr: #334dbe;
  --gradient-clr: #fba22d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100dvh;
  min-width: 100vw;
  margin-inline: auto;
  padding: 1em 2em;
  background: linear-gradient(125deg, var(--first-bg-clr), #29135B, #29135B ,var(--second-bg-clr) 100%) no-repeat;
  color: var(--primary-text-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.search__section {
  flex: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.title {
  font-size: 3rem;
  text-align: start;
  text-wrap: balance;
  text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.title span {
  color: var(--primary-clr);
}

.subtitle {
  color: #cacacae1;
  padding-block: 10px;
}

.search {
  min-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  margin: 1.9rem 0;
}

.username {
  min-width: 80%;
  padding: 0.5em 1.2em;
  font-size: 1.1rem; 
  border-radius: 8px 0 0 8px;
  border: none;
}

.search-btn {
  font-size: 1rem;
  text-align: center;
  color: var(--primary-clr);
  padding: 0.8em 1em;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.card__section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: none;
  width: clamp(400px, 30%, 500px);
  padding: 1.5em 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 5px solid transparent;
  border-radius: 8px;
  background-color: #222020c0;
  border: 2px solid #303030;
  /* backdrop-filter: blur(10px); */
  animation: slideIn 0.6s ease-in;
  color: var(--primary-text-clr);
}

@keyframes slideIn {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#image {
  max-width: 10rem;
  border-radius: 50%;
}

.name {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.bio{
  font-size: 0.9rem;
  text-align: center;
}

.follows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  flex-wrap: nowrap;
  padding: 1em 0;
}

.follows-item {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repos {
  font-size: 1.1rem;
  margin: 0.5em 0 1em;
}

.location {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.material-symbols-outlined {
  color: var(--primary-clr);
  margin-bottom: 1em;
}

.link {
  color: var(--primary-clr);
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 7px;
  border: 2px solid var(--primary-clr);
  padding: 0.5em 1em;
  transition: background-color 0.3s;
}

.link .fa-github {
  font-size: 1.5rem;
}

.link:hover {
  background-color: var(--primary-clr);
  color:#F2F2F2;
}

.link:active {
  background-color: #ee4444AA;
  border-color: #ee444422;
}

@media screen and (max-width: 900px){

  body {
    flex-direction: column;
  }

  .title {
    font-size: 1.5rem
  }
}